<article class="col-12 col-md-6 tm-post">
    <%= link_to post_path(post), class: "effect-lily tm-post-link tm-pt-60" do %>
        <div class="tm-post-link-inner">
            <img src="img/img-01.jpg" alt="Image" class="img-fluid">                            
        </div>
        <h2 class="tm-pt-30 tm-color-primary tm-post-title"><%= truncate( post.title, length: 100 ) %></h2>
    <% end %>            
    <p class="tm-pt-30">
        <%= post.content %>
    </p>
    <div class="d-flex justify-content-between tm-pt-45" height="200">
        <span class="tm-color-primary">Posted</span>
        <span class="tm-color-primary"><%= time_ago_in_words( post.created_at ) %></span>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <span>36 comments</span>
        <span>by Admin Nat</span>
    </div>
</article>