<div class="container-fluid">
    <main class="tm-main">
    
        <div class="row tm-row">
            <%= render @posts %>
        </div>
                
        <%= render "layouts/footer" %>
    </main>
</div>